@{
    ViewData["Title"] = "About Me";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href="~/Content/IndexStyleSheet.css" rel='stylesheet' type='text/css'>
    <link href="~/css/StyleSheet.css" rel='stylesheet' type='text/css'>
    <script src="~/js/particles.min.js"></script>

s
    <style>
        /* Custom styles for the navbar */
        #mainNav {
            position: fixed;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            z-index: 1000;
            background-color: #222;
            padding-top: 20px;
        }

        #mainNav .navbar-nav {
            width: 100px; /* Adjust as needed */
        }

        #mainNav .navbar-nav > li > a {
            padding: 10px 20px;
            color: #fff;
            font-size: 16px;
            text-align: center;
        }

        #mainNav .navbar-nav > li > a:hover,
        #mainNav .navbar-nav > li.active-nav-item > a {
            background-color: #555;
        }

        canvas {
            display: block;
            vertical-align: bottom;
        }
        /* ---- particles.js container ---- */

        #particles-js {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #000000;
            background-image: url("");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 50%;
        }

        :where(.focus\:bg-gray-100:focus) {
            background-color: #121212 !important;
        }

    </style>

</head>
<body id="page-top" class="index">
    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a href="#statement">Statement</a></li>
                <li><a href="#services">Skills</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </nav>

    <!-- Header -->
    <header>
        <div id="particles-js"></div>

        <div class="header-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col text-center">
                        <div class="intro-text">
                            <div class="intro-heading">Romit Sagu</div>
                            <div class="intro-lead-in">Software Developer</div>
                            <div class="intro-lead-in">Computer Software Engineering Student</div>
                            <a href="#services" class="page-scroll"><i class="fa fa-arrow-circle-o-down fa-4x" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="statement" class="section">
        <div class="container px-5 py-24 mx-auto">
            <div class="mx-auto text-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="inline-block w-8 h-8 text-gray-500 mb-8" viewBox="0 0 975.036 975.036">
                    <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
                </svg>
                <p class="leading-relaxed text-lg">
                    Currently four years into a Computer Engineering degree focusing on Software Engineering. I'm skilled in programming languages like Java, Python, C, C++, C#, HTML, CSS and JavaScript with an interest in Machine Learning. Highly motivated to constantly develop skills and grow professionally. Determined to learn in the workplace individually and as a team to achieve common goals and objectives.

                </p>
                <span class="inline-block h-1 w-10 rounded bg-green-500 mt-8 mb-6" style="background-color: #4CAF50;"></span>
                <h2 class="text-white font-medium title-font tracking-wider text-sm">ROMIT SAGU</h2>
@*                 <p class="text-gray-500">Computer Software Engineering Student</p>
 *@            </div>
        </div>
    </section>

    <!-- Services Section -->
    <section id="services" class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Skills</h2>
                    <h3 class="section-subheading text-muted">Core skills accross a variety of platforms</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary circle-colour"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Desktop</h4>
                    <p class="text-muted">.Net Framework,<br />Java, C++,<br />Python, C,<br />Markdown, <br />Arduino C</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary circle-colour"></i>
                        <i class="fa fa-cloud fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Web</h4>
                    <p class="text-muted">ASP.NET C#/VB.NET (WebForms - MVC),<br />(Python - Pandas), HTML, CSS, JavaScript,<br />jQuery, AJAX, Bootstrap<br />Telerik & Kendo UI</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary circle-colour"></i>
                        <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Other</h4>
                    <p class="text-muted">
                        Entity Framework, SQL,<br />Azure Pipeline & Release<br />Docker Image Publish<br />MS Power Automate</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray section">
        <!-- Portfolio content --> <p>
            Coming Soon!Coming Soon!Coming Soon!Coming Soon!Coming Soon!
            Coming Soon!Coming Soon!Coming Soon!Coming Soon!Coming Soon!
            Coming Soon!Coming Soon!Coming Soon!Coming Soon!Coming Soon!
            Coming Soon!Coming Soon!Coming Soon!Coming Soon!Coming Soon!
            Coming Soon!Coming Soon!Coming Soon!Coming Soon!Coming Soon!
            Coming Soon!Coming Soon!Coming Soon!Coming Soon!Coming Soon!
            Coming Soon!Coming Soon!Coming Soon!Coming Soon!Coming Soon!
            Coming Soon!Coming Soon!Coming Soon!Coming Soon!Coming Soon!
            Coming Soon!Coming Soon!Coming Soon!Coming Soon!Coming Soon!
            Coming Soon!Coming Soon!Coming Soon!Coming Soon!Coming Soon!
            Coming Soon!Coming Soon!Coming Soon!Coming Soon!Coming Soon!
        </p>
    </section>
    <!-- About Section -->
    <section id="about" class="section">
        <!-- About content --> 
        <div class="timeline">
            <div class="container1 left">
                <div class="content">
                    <h2>2022</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="container1 right">
                <div class="content">
                    <h2>2023</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="container1 left">
                <div class="content">
                    <h2>2024</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="container1 right">
                <div class="content">
                    <h2>2025</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>

        </div>
    </section>
    <!-- Contact Section -->
    <section id="contact" class="section">
        <!-- Contact content --> 
        @* <div><br></br></div> *@
        <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-col text-center w-full mb-12">
                <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-white">Contact Me</h1>
                <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Use the form below to contact me about a variety of topics.</p>
            </div>
            <div class="lg:w-1/2 md:w-2/3 mx-auto">
                <form class="flex flex-wrap -m-2">
                    <div class="p-2 w-1/2">
                        <div class="relative">
                            <label for="name" class="leading-7 text-sm text-gray-400">Name</label>
                            <input required type="text" id="name" name="name" class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-green-500 focus:bg-gray-100 focus:ring-4 focus:ring-green-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" style="text-transform: capitalize;">
                            <span id="nameError" class="text-red-500 text-xs hidden">Please enter your name.</span>
                            <span id="nameLengthError" class="text-red-500 text-xs hidden">Your name should be less than 100 characters.</span>
                        </div>
                    </div>
                    <div class="p-2 w-1/2">
                        <div class="relative">
                            <label for="email" class="leading-7 text-sm text-gray-400">Email</label>
                            <input required type="email" id="email" name="email" class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-green-500 focus:bg-gray-100 focus:ring-4 focus:ring-green-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                            <span id="emailError" class="text-red-500 text-xs hidden">Please enter your email.</span>
                            <span id="emailLengthError" class="text-red-500 text-xs hidden">Your email should be less than 100 characters.</span>
                            <span id="emailValueError" class="text-red-500 text-xs hidden">Please enter a valid email</span>
                        </div>
                    </div>
                    <div class="p-2 w-full">
                        <label class="block leading-7 text-sm text-gray-400 mb-2">Topics</label>
                        <div class="flex flex-wrap items-center -mx-2">
                            <!-- Radio Button: Project -->
                            <div class="px-2">
                                <label class="inline-flex items-center">
                                    <input type="radio" id="project" name="topic" value="Project" class="form-radio h-5 w-5 text-green-600">
                                    <span class="ml-2 text-gray-400">Project</span>
                                </label>
                            </div>
                            <!-- Radio Button: Software Engineering -->
                            <div class="px-2">
                                <label class="inline-flex items-center">
                                    <input type="radio" id="software" name="topic" value="Software" class="form-radio h-5 w-5 text-green-600">
                                    <span class="ml-2 text-gray-400">Software Engineering</span>
                                </label>
                            </div>
                            <!-- Radio Button: Other -->
                            <div class="px-2">
                                <label class="inline-flex items-center">
                                    <input type="radio" id="other" name="topic" value="Other" class="form-radio h-5 w-5 text-green-600">
                                    <span class="ml-2 text-gray-400">Other</span>
                                </label>
                            </div>
                        </div>
                        <span id="topicError" class="text-red-500 text-xs hidden">Please select a topic</span>

                    </div>

                    <!-- Other Topic Input Field (disabled by default) -->
                    <div class="p-2 w-full" id="otherTopicField">
                        <input disabled type="text" id="otherTopic" name="otherTopic" placeholder="Specify Other Topic" class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-green-500 focus:bg-gray-100 focus:ring-4 focus:ring-green-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                        <span id="otherTopicError" class="text-red-500 text-xs hidden">Please specify the other topic.</span>
                        <span id="otherTopicLengthError" class="text-red-500 text-xs hidden">Your name should be less than 250 characters.</span>
                    </div>
                    <div class="p-2 w-full">
                        <div class="relative">
                            <label for="message" class="leading-7 text-sm text-gray-400">Message</label>
                            <textarea id="message" name="message" class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-green-500 focus:bg-gray-100 focus:ring-4 focus:ring-green-900 h-32 text-base outline-none text-gray-100 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"></textarea>
                            <span id="messageError" class="text-red-500 text-xs hidden">Please enter a message.</span>
                            <span id="messageLengthError" class="text-red-500 text-xs hidden">Your message should be less than 500 characters.</span>
                        </div>
                    </div>
                    <div class="p-2 w-full">
                        <div class="relative">
                            <label hidden class="inline-flex items-center">
                                <input hidden type="radio"  id="honeyPot1" name="honeyPot" class="form-radio h-5 w-5 text-green-600" value="XDX">
                                <span hidden class="ml-2 text-gray-400">hidden</span>

                            </label>
                        </div>
                        <div class="relative">
                            <label hidden class="inline-flex items-center">
                                <input hidden type="radio" id="honeyPot2" name="honeyPot" class="form-radio h-5 w-5 text-green-600" value="XDD">
                                <span hidden class="ml-2 text-gray-400">hidden</span>

                            </label>
                        </div>
                    </div>
                    <div class="p-2 w-full">
                        <button style="background-color: #4CAF50;" id="sendButton" class="flex justify-center mx-auto text-white bg-fuchsia-600 px-4 py-1 text-white font-medium rounded-lg hover:scale-1050 cursor-pointer">Send</button>
                    </div>
                </form>
            </div>
        </div>




    </section>

    <div id="PopUpModelSection"></div>

    <!-- JavaScript/jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        // particles.js configuration
        particlesJS("particles-js", {
            "particles": {
                "number": {
                    "value": 117,
                    "density": {
                        "enable": true,
                        "value_area": 800
                    }
                },
                "color": {
                    "value": "#4caf50"
                },
                "shape": {
                    "type": "circle",
                    "stroke": {
                        "width": 0,
                        "color": "#000000"
                    },
                    "polygon": {
                        "nb_sides": 5
                    },
                    "image": {
                        "src": "img/github.svg",
                        "width": 100,
                        "height": 100
                    }
                },
                "opacity": {
                    "value": 0.5,
                    "random": false,
                    "anim": {
                        "enable": false,
                        "speed": 1,
                        "opacity_min": 0.1,
                        "sync": false
                    }
                },
                "size": {
                    "value": 3,
                    "random": true,
                    "anim": {
                        "enable": false,
                        "speed": 40,
                        "size_min": 0.1,
                        "sync": false
                    }
                },
                "line_linked": {
                    "enable": true,
                    "distance": 150,
                    "color": "#ffffff",
                    "opacity": 0.4,
                    "width": 1
                },
                "move": {
                    "enable": true,
                    "speed": 6,
                    "direction": "none",
                    "random": false,
                    "straight": false,
                    "out_mode": "out",
                    "bounce": false,
                    "attract": {
                        "enable": false,
                        "rotateX": 600,
                        "rotateY": 1200
                    }
                }
            },
            "interactivity": {
                "detect_on": "window",
                "events": {
                    "onhover": {
                        "enable": true,
                        "mode": "repulse"
                    },
                    "onclick": {
                        "enable": true,
                        "mode": "push"
                    },
                    "resize": true
                },
                "modes": {
                    "grab": {
                        "distance": 400,
                        "line_linked": {
                            "opacity": 1
                        }
                    },
                    "bubble": {
                        "distance": 400,
                        "size": 40,
                        "duration": 2,
                        "opacity": 8,
                        "speed": 3
                    },
                    "repulse": {
                        "distance": 90,
                        "duration": 0.4
                    },
                    "push": {
                        "particles_nb": 4
                    },
                    "remove": {
                        "particles_nb": 2
                    }
                }
            },
            "retina_detect": true
        });

        $(document).ready(function () {

            // Smooth scrolling when clicking on navbar links
            $('a[href^="#"]').on('click', function (event) {
                var target = $(this.getAttribute('href'));
                if (target.length) {
                    event.preventDefault();
                    $('html, body').stop().animate({
                        scrollTop: target.offset().top
                    }, 100);
                }
            });

            // Highlight the active section based on scroll position
            $(window).on('scroll', function () {
                var scrollPos = $(window).scrollTop();

                // Initialize a variable to track if any section is currently active
                var sectionActive = false;

                $('section').each(function () {
                    var top = $(this).offset().top - 400; // 400px offset for highlighting
                    var bottom = top + $(this).outerHeight();

                    // Check if the scroll position is within the bounds of the current section
                    if (scrollPos >= top && scrollPos <= bottom) {
                        // If the scroll position is within the bounds of this section,
                        // mark it as active and highlight its corresponding navigation item
                        sectionActive = true;
                        $('ul.navbar-nav li').removeClass('active-nav-item');
                        $('ul.navbar-nav li a[href="#' + $(this).attr('id') + '"]').parent().addClass('active-nav-item');
                    }
                });

                // If no section is active, remove all active classes from navigation items
                if (!sectionActive) {
                    $('ul.navbar-nav li').removeClass('active-nav-item');
                }
            });

            $('input[type="radio"][name="topic"]').change(function () {
                // If "Other" is selected
                validateTopic();
                if ($('#other').is(':checked')) {
                    $('#otherTopic').prop('disabled', false);
                } else {
                    $('#otherTopic').prop('disabled', true);
                }
            });

            // Validate the name field
            $('#name').change(validateName);

            // Validate the email field
            $('#email').change(validateEmail);

            // Validate the message field
            $('#message').change(validateMessage);

            $('#otherTopic').change(validateTopic);

            $('#name').on('input', validateName);
            $('#email').on('input', validateEmail);
            $('#message').on('input', validateMessage);
            $('#otherTopic').on('input', validateTopic);


            function validateName() {
                var name = $('#name').val();
                if (name === '') {
                    $('#nameError').show();
                    return false;
                }

                $('#nameError').hide();

                if (name.length > 0 && name.length <=100) {
                    $('#nameLengthError').hide();
                    return true;
                } else{
                    $('#nameLengthError').show();
                    return false;
                }

            }

            function validateEmail() {
                var email = $('#email').val();
                var valid = true;
                if (email === '') {
                    $('#emailError').show();
                    $('#emailValueError').hide();
                    return false;
                }

                if (!isEmail(email)) {
                    $('#emailValueError').show();
                    $('#emailError').hide();
                    return false;
                } else {
                    $('#emailValueError').hide();
                }

                $('#emailError').hide();

                if (email.length > 0 && email.length <= 100) {
                    $('#emailLengthError').hide();
                    return true;
                } else {
                    $('#emailLengthError').show();
                    return false;
                }
            }

            function validateTopic() {
                var topic = $('input[name="topic"]:checked').val();
                var otherTopic = $('#otherTopic').val();

                if (typeof topic === 'undefined') {
                    $('#topicError').show();
                    return false;
                }

                $('#topicError').hide();

                if (topic === 'Other' && otherTopic === '') {
                    $('#otherTopicError').show();
                    return false;
                } else if (topic !== 'Other') {
                    $('#otherTopicError').hide();
                    return true;
                }

                $('#otherTopicError').hide();

                if (otherTopic.length > 0 && otherTopic.length <= 250) {
                    $('#otherTopicLengthError').hide();
                    return true;
                } else {
                    $('#otherTopicLengthError').show();
                    return false;
                }
            }

            function validateMessage() {
                var message = $('#message').val();
                if (message === '') {
                    $('#messageError').show();
                    return false;
                }

                $('#messageError').hide();

                if (message.length > 0 && message.length <= 500) {
                    $('#messageLengthError').hide();
                    return true;
                } else {
                    $('#messageLengthError').show();
                    return false;
                }
            }

            $('#sendButton').click(function (e) {
                e.preventDefault(); // Prevent form submission

                var isValid = true;

                var isNameValid = validateName(); 
                var isEmailValid = validateEmail(); 
                var isTopicValid = validateTopic(); 
                var isMessageValid = validateMessage(); 

                var honeyPot = $('input[name="honeyPot"]:checked').val();

                console.log(honeyPot);

                if (!(typeof honeyPot === 'undefined')) {
                    alert("Your request could not be Authenticated")
                    return;
                }

                // Combine the results using logical AND
                isValid = isNameValid && isEmailValid && isTopicValid && isMessageValid;


                if (!isValid) {
                    return; // Stop processing if the form is invalid
                }

                $("#PopUpModelSection").load('@Url.Action("RenderPopUpModel", "Home")', function () {
                    $('#PopUpModelBtn').click(function () {
                        SendEmail();
                        $('#PopUpModel').modal('hide');
                    });
                    $('#PopUpModel').modal('show'); // Show the modal
                });
            });

            function SendEmail() {
                // Get form data
                var email = $('#email').val();
                var name = $('#name').val();
                var topic = $('input[name="topic"]:checked').val();

                if (topic == 'Other') {
                    topic = $('#otherTopic').val();
                }

                var message = $('#message').val();    

                // Clear form fields
                $('#email').val('');
                $('#name').val('');
                $('input[name="topic"]').prop('checked', false);
                if (topic == 'Other') {
                    $('#otherTopic').val('');
                }
                $('#message').val('');

                // AJAX request
                $.ajax({
                    url: 'Home/SendEmail', // Replace with your backend endpoint
                    type: 'POST',
                    data: {
                        name: name,
                        email: email,
                        message: message,
                        topic: topic
                    },
                    success: function (response) {
                        if (response.success) {
                            // Handle success response
                            console.log('Email sent successfully! ' + response.message);

                        } else {
                            // Handle error response
                            alert('Error sending email: ' + response.message + ' Please contact me at romit@romitsagu.com')
                        }
                    },
                    error: function (xhr, status, error) {
                        // Handle error response
                        alert('Error sending email: ' + error + ' Please contact me at romit@romitsagu.com');
                        console.error('Error sending email:', error);

                        $('#email').val(email);
                        $('#name').val(name);
                        $('#message').val(message);
                    }
                });
            }

            // Fade in header content on page load
            $('.header-content').addClass('fade-in');

            $(window).scroll(function () {
                checkSectionsInView();
            });

            function checkSectionsInView() {
                $('.section').each(function () {
                    if ($(this).offset().top < $(window).scrollTop() + $(window).height()) {
                        $(this).addClass('fadeIn-other');
                    }
                });
            }
        });
    </script>
</body>
</html>
