@model HomePage.Models.ProjectsViewModel
@{
    ViewData["Title"] = "FaceGen";
}

<style>
    .right-link {
        text-align: right; /* Aligns the link to the right of its column */
    }

    .container {
        margin-top: 30px;
    }
</style>

<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-2">
            <a href="@Model.ProjectGithubLink" target="_blank">GitHub</a>
        </div>
        <div class="col-8 text-center">
            <h1>FaceGen</h1>
        </div>
        <div class="col-2 right-link">
            <a href="@Model.ProjectApplicationLink" target="_blank">Site Link</a>
        </div>
    </div>
</div>


<div class="container">
    @* <p>
        ArtiFace Face Gen is a deep learning project that uses Generative Adversarial Networks (GANs) to generate human faces based on celebrity images. The project uses the CelebFaces Attributes Dataset (CelebA) to train the GANs. The project is implemented in Python using the Keras API and Tensorflow Backend.
    </p>
    <br />
    <p>
        The end goal for the project is to create realistic human faces that can be used for synthetic data generation and other applications.
    </p> *@
    <div class="markdown-container">
        @Html.Raw(Model.ProjectReadmeContent)
    </div>
</div>