
@{
    ViewData["Title"] = "HomeServer";
}

<style>
    .header-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 20px; /* Adjust padding as needed */
    }

    .left-link {
        text-decoration: none;
        font-weight: bold;
        margin-right: auto; /* Aligns the link to the left */
    }

    .center-header {
        text-align: center; /* Center-align the header */
    }
</style>

<div class="header-container">
    <div class="left-link">
        <a href="https://github.com/NinePiece2/TrueNASHomeServer" target="_blank">GitHub</a>
    </div>
    <div class="center-header">
        <h1>Home Server</h1>
    </div>
</div>





<div class="container">
    <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa a aaaaaaaaaaaaaaaaaaaaaaa</p>
</div>