@model HomePage.Models.ProjectsViewModel
@{
    ViewData["Title"] = "HomeServer";
}

<style>
    .right-link {
        text-align: right; /* Aligns the link to the right of its column */
    }

    .container{
        margin-top: 30px;
    }

    
</style>

<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-2">
            <a href="@Model.ProjectGithubLink" target="_blank">GitHub</a>
        </div>
        <div class="col-8 text-center">
            @* <h1>Home Cloud Server</h1> *@
        </div>
        <div class="col-2 right-link">
            <a href="@Model.ProjectApplicationLink" target="_blank">Site Link</a>
        </div>
    </div>
</div>


<div class="container">
   @*  <p>This project details the TrueNAS Home server I developed, marking my entry into home labbing. Building this server has enabled me to host a variety of additional projects independently, enhancing my hands-on experience and technical expertise in managing and deploying server-based applications including:</p>
    <br />
    <div class="row " style="margin-left: 20%;">
        <div class="col-auto">
            <div class="appList">
                <ul class="list-unstyled">
                    <li>Microsoft SQL Server</li>
                    <li>Kemp Load Balancer</li>
                    <li>Kubernetes</li>
                    <li>Proxmox</li>
                    <li>Home Assistant</li>
                    <li>Pi-Hole</li>
                    <li>Wireguard VPS</li>
                    <li>Internet Information Services Host</li>
                    <li>GitHub Self-Hosted Runners</li>
                    <li>Plex Media Server</li>
                </ul>
            </div>
        </div>
    </div> *@

    <div class="markdown-container">
        @Html.Raw(Model.ProjectReadmeContent)
    </div>
</div>
