
@{
    ViewData["Title"] = "Projects";
}

<h1>Projects</h1>

<div class="container">
    <p>This section of the website is designed to elaborate on some of the bigger project’s I’ve worked on. </p>

</div>