@model HomePage.Models.ProjectsViewModel

@{
    ViewData["Title"] = "Nine LanCache UI";
}

<style>
    .right-link {
        text-align: right; /* Aligns the link to the right of its column */
    }

    .container {
        margin-top: 30px;
    }

</style>

<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-2">
            <a href="@Model.ProjectGithubLink" target="_blank" class="d-block">GitHub</a>
        </div>
        <div class="col-8 text-center">
           @*  <h1>Nine LanCache UI</h1> *@
        </div>
        <div class="col-2 right-link">
            <!-- Empty column to maintain center alignment -->
        </div>
    </div>
</div>


<div class="container">
    <div class="markdown-container">
        @Html.Raw(Model.ProjectReadmeContent)
    </div>
</div>