@model HomePage.Models.ProjectsViewModel
@{
    ViewData["Title"] = "MRI Brain Tumor Detection";
}

<style>
    .right-link {
        text-align: right; /* Aligns the link to the right of its column */
    }

    .container {
        margin-top: 30px;
    }
</style>

<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-2">
            <a href="@Model.ProjectGithubLink" target="_blank">GitHub</a>
        </div>
        <div class="col-8 text-center">
        </div>
        <div class="col-2 right-link">
            <a href="@Model.ProjectApplicationLink" target="_blank">Site Link</a>
        </div>
    </div>
</div>


<div class="container">
    <div class="markdown-container">
        @Html.Raw(Model.ProjectReadmeContent)
    </div>
</div>