@{
    ViewData["Title"] = "Social Network";
}

<style>
    .right-link {
        text-align: right; /* Aligns the link to the right of its column */
    }

    .container {
        margin-top: 30px;
    }
</style>

<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-2">
            <a href="https://github.com/NinePiece2/SocialNetwork" target="_blank">GitHub</a>
        </div>
        <div class="col-8 text-center">
            <h1>Social Network</h1>
        </div>
        <div class="col-2 right-link">
            <a href="https://socialnetwork.romitsagu.com/" target="_blank">Site Link</a>
        </div>
    </div>
</div>


<div class="container">
    <p>
        A Social Network Application that leverages the Microsoft Identity framework for comprehensive account management, catering to custom user roles and security requirements. This platform integrates advanced features such as two-factor authentication, role-based access control, and user profile management, enabling a secure and personalized user experience. This robust setup ensures that the system adheres to modern security standards while providing a flexible framework for further scalability and development.
    </p>
</div>